$font-size: var(--button_font_size);
$bg-color: var(--button_bkg-color);
$padding-vert: var(--button_padding_vert);
$padding-hori: var(--button_padding_hori);
$radius: var(--button_radium);
$line-height:var(--button_line_height);
/* '--button_bkg-color': 'red',
                '--button_font-size' */

.base-button {
    border: none;

    box-sizing: content-box;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: $radius;
    padding: $padding-vert $padding-hori;
    background-color: $bg-color;
    width: fit-content;
    
    color: #fff;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: 600;
    letter-spacing: 0.1px;



    cursor: pointer;
    // user-select: none;

    // &:focus {
    //     outline: 2px solid #000;
    // }

    .base-button_content {
        text-align: left;
    }
}
